<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Da3BypassTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Da3BypassTool.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Da3BypassTool.Properties.Settings>
            <setting name="SelectedTheme" serializeAs="String">
                <value>Dark</value>
            </setting>
            <setting name="SkipSetup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BlockOTAUpdate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BlockErase" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StoredECID" serializeAs="String">
                <value />
            </setting>
            <setting name="StoredProduct" serializeAs="String">
                <value />
            </setting>
            <setting name="StoredIOSVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowAnnoncement" serializeAs="String">
                <value>False</value>
            </setting>
        </Da3BypassTool.Properties.Settings>
        <Da3BypassTool.Settings>
            <setting name="SelectedTheme" serializeAs="String">
                <value>Dark</value>
            </setting>
        </Da3BypassTool.Settings>
    </userSettings>
</configuration>